<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Funny Flask App</title>
    </head>
<body>

<h1> Exclusive secret! </h1>
<p> enter your secret, put in your password, then enter a ID (ONLY NUMBERS!), NOTE u can only change your secret not ur ID or password so Dont Forget!</p>
<label> To Add your Secret to the Server!</label>
<form action="/addPhrase" method="POST">
<input type="text" placeholder="Phrase" id="phrase" name="phrase">
<input type="text" placeholder="Phrase Password" id="phrasePassword" name="phrasePassword">
<input type="text" placeholder="Phrase Id" id="phraseId" name="phraseId">
<button type="answer">submit</button>
</form>

<label> To View Your Secret From the Server </label>
<form action="/viewPhrase" method="POST">
    <input type="text" placeholder="Phrase ID" id ="viewPhraseID" name="viewPhraseID">
    <input type="text" placeholder="Phrase Passwrod" id = "viewPhrasePassword" name="viewPhrasePassword">
    <button type="answer">submit</button>
</form>

<label> To update your Secret to the Server!</label>
<form action="/updatePhrase" method="POST">
<input type="text" placeholder="Updated Phrase" id="updatePhrase" name="updatePhrase">
<input type="text" placeholder="Phrase Password" id="updatePhrasePassword" name="updatePhrasePassword">
<input type="text" placeholder="Phrase Id" id="updatePhraseId" name="updatePhraseId">
<button type="answer">submit</button>
</form>

<label> To Delete Your Secret From the Server </label>
<form action="/deletePhrase" method="POST">
    <input type="text" placeholder="Phrase ID" id ="deletePhraseID" name="deletePhraseID">
    <input type="text" placeholder="Phrase Passwrod" id = "deletePhrasePassword" name="deletePhrasePassword">
    <button type="answer">submit</button>
</form>

<label class="Api"> Click the button the get a random pokemon back!</label>
<form action="/getRandomPokemon" method="POST">
    <button type="answer"> Generate!</button>
</form>
</body>
</html>
